.section-3 {
    width: auto;
    height: auto;
    padding: 100px 30px;
    text-align: center;
    color: black;
    background-image:url('../../public/images/background-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3 > h1 {
    font-size: 3rem;
    font-family: var(--primary-font);
    line-height: 70px;
    font-weight: bold;
    text-align: center;
}
.s-3-container {
    width: auto;
    padding: 20px;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.s-3-child {
    width: 310px;
    padding: 20px;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    text-align: center;
    color:var(--black);
    background: #ffffff;
}
.s-3-child > h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    line-height: 70px;
    text-align: center;
}
@media (min-width:551px) and (max-width:840px) {
    .s-3-child {
        width: 90%;
    }
}