.section-5 {
    width: auto;
    height: 600px;
    padding: 30px;
    text-align: center;
    background-image:url('../images/background-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--secondary-font);
}
.section-5 > h1 {
    font-size: 3rem;
    font-family: var(--primary-font);
    line-height: 70px;
    text-align: center;
}
.section-5 a {
    color: var(--black);
    font-weight: bold;
}
.s-5-container {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content:center;
}
.s-5-container > input {
    width: 300px;
    padding: 15px 30px;
    border: none;
    color: black;
}
.s-5-container > button{
    /* width: auto; */
    background: var(--black);
    color: white;
}

@media (min-width:361px) and (max-width:500px) {
    .s-5-container {
        width: 100%;
        padding: 0px;
        gap: 0px;
    }
}
@media (max-width:360px) {
    .s-5-container > input {
        width: 250px;
        padding: 15px 30px;
        border: none;
        color: black;
    }
}
/* .signup-container {
    width: auto;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    margin: auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}
.s-5-container {
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(90px);
    gap: 20px;
}
 .signup-container > input {
    width: 350px;
    border: none;
    padding: 15px 30px;
    color: black;
 }

.signup-container > button {
    border: none;
    padding: 15px 30px;
    background: var(--black);
    color: white;
}
@media (min-width:500px) and (max-width:680px) {
    .signup-container > input {
        width: 200px;
        border: none;
        padding: 15px 30px;
        color: black;
     }
}
@media (max-width:499px) {
    .signup-container > input {
        width: 150px;
        border: none;
        padding: 15px 30px;
        color: black;
     }
} */